* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #212529;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../assets/imagenes/rick&mortybg.jpg');
    background-size: 100%;
    background-repeat: round;
}

.content {
    margin-top: 80px;
}


/* Formualrio Login */

.form-content {
    margin: auto;
    background-color: #38393c;
    padding-bottom: 30px;
    border-radius: 8px;
    height: 250px;
    width: 400px;
    opacity: 0.9;
}

.form-content__titulo {
    text-emphasis: bold;
    text-align: center;
    padding: 15px 0;
    color: #FFF842;
}

#formulario {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    display: flex;
}

.formulario__label {
    display: block;
    margin-top: 10px;
    color: #FFF842;
}

.formulario__input {
    box-sizing: border-box;
    display: block;
    border: none;
    border-radius: 8px;
    padding: 12px;
    height: 20px;
    width: 75%;
    background-color: #c5c5c5;
    color: #ede864;
}

.formulario__textarea {
    box-sizing: border-box;
    border: none;
    resize: none;
    border-radius: 8px;
    padding: 5px;
    width: 75%;
}

.formulario__submit {
    background-color: #212529;
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 4px;
    margin-top: 40px;
    transition: 0.3s;
    padding: 10px;
    width: 75%;
    color: #FFF842;
}

.formulario__submit:hover {
    background-color: #0e1011;
}

input:focus {
    outline: none;
}

#error {
    color: red;
}

#failLogin {
    text-align: center;
}


/* Fin Login */